.image-21,
.in-store-location {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
}
.image-21 {
  top: 4px;
  left: 25px;
  width: 290px;
  height: 131px;
  background-image: url(../../public/image2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.in-store-location {
  top: 89px;
  left: 397px;
  font-size: var(--font-size-base);
  line-height: 22px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 194px;
  height: 20px;
}
.frame-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 1062px;
  height: 155px;
  overflow: hidden;
}
.buttoncontained-text,
.buttoncontained-text1 {
  position: absolute;
  top: 364px;
  left: 98px;
}
.buttoncontained-text2 {
  position: absolute;
  top: 100px;
  left: 98px;
}
.buttoncontained-text1 {
  top: 741px;
}
.date-picker-div {
  position: absolute;
}
.text-areaoutline-textarea {
  position: absolute;
  top: 378px;
  left: 501px;
}
.text-areaoutline-textarea2 {
  position: absolute;
  top: 250px; 
  left: 501px;
}
.text-areaoutline-textarea3 {
  position: absolute;
  top: 250px; 
  left: 801px;
}

.date-picker-div {
  top: 673px;
  left: 98px;
}
.manager-nav {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1423px;
  overflow: hidden;
}
